{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="{% static 'weather_app/css/style.css' %}">
    <title>About me</title>
</head>
<body>

<div class="wrapper">
    <a href="/Tomsk"><li>Tomsk</li></a>
    <div class="text-wrap">
        <div class="text" id="text">Hello!</div>
    </div>
    <div class="text-wrap">
        <div class="cent"><br><br><br><p>My name is Andrey. I am a third year student.</p>
            <p>This is a site created by me to view the weather. Happy using!</p></div>
    </div>
</div>
</body>
</html>